<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:512px;
        height:682px;
        margin: auto;
      }
</style>
<div class="itr-dialog-backdrop {{active?'active':''}}">
    <div class="col-12 col-sm-8 col-md-6 p-3 m-auto mb-2 rounded-bottom bg-white border">
        <div class="mb-5">
            <input type="file" id="imagefile" style="display: none;">
            <div class="cropArea">
                <img-crop image="data.image" result-image="data.cropped" area-type="square"  result-image-size="640" result-image-quality="0.5"></img-crop>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-secondary" type="button" ng-click="close()">
                   <span class="fa fa-times"></span> Batal
                </button>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-primary" type="button" ng-click="save()">
                    <span class="fa fa-check"></span> Simpan
                 </button>
            </div>
        </div>
    </div>
</div>

        
  